html{
	background: url("img/whitehouse.jpg");
	background-repeat: no-repeat;
	background-size: 100% 110%;
	height: 100%;
}
body{
	height: 100%;
}
#reset{
	float: left;
	background-color: red;
	font: black 20px;
}
#pointsPerSec{
	float: left;
	background: white;
	border: groove 3px yellow;
	margin-top: 2%;
	margin-left: 1%;
	width: 10%;
	height: 10%;
	text-align: center;
	font-size: 20px;
}
#pointCount{
	float:left;
	background: white;
	border: groove 3px yellow;
	margin-top: 2%;
	margin-left: 10%;
	width: 60%;
	height: 10%;
	text-align: center;
	font-size: 20px;
	padding-top: 0.5%;
}
#apprentice{
	float: left;
	background-color: gray;
	width: 10%;
	height: 17%;
	border: red 1px groove;
}
#apprentice p{
	margin-top: 1px;
	margin-bottom: 1px;
}
#apprentice:hover{
	background-color: #333333;
}
#chinese{
	float: left;
	background-color: gray;
	width: 10%;
	height: 17%;
	border: red 1px groove;
	margin-left: 10px;
}
#chinese p{
	margin-top: 1px;
	margin-bottom: 1px;
}
#chinese:hover{
	background-color: #333333;
}
#mexican{
	float: left;
	background-color: gray;
	width: 10%;
	height: 17%;
	border: red 1px groove;
}
#mexican p{
	margin-top: 1px;
	margin-bottom: 1px;
}
#mexican:hover{
	background-color: #333333;
}
#casino{
	float: left;
	background-color: gray;
	width: 10%;
	height: 17%;
	border: red 1px groove;
	margin-left: 10px;
}
#casino p{
	margin-top: 1px;
	margin-bottom: 1px;
}
#casino:hover{
	background-color: #333333;
}
#air{
	float: left;
	background-color: gray;
	width: 10%;
	height: 17%;
	border: red 1px groove;
}
#air p{
	margin-top: 1px;
	margin-bottom: 1px;
}
#air:hover{
	background-color: #333333;
}
#votes{
	float: left;
	background-color: gray;
	width: 10%;
	height: 17%;
	border: red 1px groove;
	margin-left: 10px;
}
#votes p{
	margin-top: 1px;
	margin-bottom: 1px;
}
#votes:hover{
	background-color: #333333;
}
#press{
	float: left;
	background-color: gray;
	width: 10%;
	height: 17%;
	border: red 1px groove;
}
#press p{
	margin-top: 1px;
	margin-bottom: 1px;
}
#press:hover{
	background-color: #333333;
}
#re{
	float: left;
	background-color: gray;
	width: 10%;
	height: 17%;
	border: red 1px groove;
	margin-left: 10px;
}
#re p{
	margin-top: 1px;
	margin-bottom: 1px;
}
#re:hover{
	background-color: #333333;
}
#trump{
	position: absolute;
	width: 30%;
	left: 25%;
	top: 20%;
}
#trump:hover{
	-webkit-filter: brightness(80%);
	filter: brightness(80%);
}
#moneyBag{
	position: absolute;
	float: right;
	width: 30%;
	top: 20%;
	left: 55%;
    position: absolute;
}
#pp{
	height: 60px;
	width : 100px;
	font-size: 20px;
	float: right;
	background-color: white;
	border: groove 3px yellow;
	text-align: center;
	padding-top: 7px;
	margin-top: -300px;
}
#advert{
	width: 50%;
	border: 0;
	position: absolute;
	left: 30%; 
	top: 90%;
}